<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Wision.Settings.DataSource" value="192.168.0.8" />
    <add key="Wision.Settings.InitialCatalog" value="Common" />
    <add key="Wision.Settings.UserName" value="sa" />
    <add key="Wision.Settings.Password" value="d2c-k~7b" />
    <add key="aspnet:MaxHttpCollectionKeys" value="10000" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="aspnet:RequestQueueLimitPerSession" value="2147483647" />
  </appSettings>
  <connectionStrings />
  <system.webServer>
    <modules>
      <add name="WisionModule" type="Ideal.Wision.Core.WisionModule" preCondition="" />
    </modules>
    <handlers>
      <add name="Admin" path="/admin/*" verb="*" type="Ideal.Wision.Core.WisionHttpHandlerFactory" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="IWCXRes" path="iwcx/*.axd" verb="*" type="Ideal.WebControls.IdealWebControlsHandler" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="Captcha" path="icaptcha.axd" verb="*" type="Ideal.WebControls.CaptchaImageHandler" resourceType="Unspecified" preCondition="integratedMode" />
    </handlers>
    <urlCompression doStaticCompression="false" />
    <tracing>
      <traceFailedRequests>
        <remove path="*.asmx" />
      </traceFailedRequests>
    </tracing>
  </system.webServer>
  <system.web>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="ru-RU" uiCulture="ru-RU" />
    <compilation defaultLanguage="c#" debug="true" targetFramework="4.7.2">
      <assemblies>
        <add assembly="System.Numerics, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.7.2" requestValidationMode="2.0" maxRequestLength="200000" executionTimeout="1200" />
    <customErrors mode="Off" />
    <pages>
      <controls>
        <add assembly="Ideal.Wision" namespace="Ideal.Wision.Controls" tagPrefix="iwc" />
      </controls>
    </pages>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>