<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <appSettings>
    <add key="Wision.Settings.DataSource" value="192.168.0.77"/>
    <add key="Wision.Settings.InitialCatalog" value="mirupakovki2"/>
    <add key="Wision.Settings.UserName" value="sa"/>
    <add key="Wision.Settings.Password" value="d2c-k~7b"/>
  </appSettings>
  <connectionStrings/>
  <system.webServer>
    <modules>
      <add name="WisionModule" type="Ideal.Wision.Core.WisionModule" preCondition=""/>
    </modules>
    <handlers>
      <add name="Admin" path="admin/*.aspx" verb="*" type="Ideal.Wision.Core.WisionHttpHandlerFactory" resourceType="Unspecified" preCondition="integratedMode"/>
      <add name="IWCXRes" path="iwcx/*.axd" verb="*" type="Ideal.WebControls.IdealWebControlsHandler" resourceType="Unspecified" preCondition="integratedMode"/>
      <add name="Captcha" path="icaptcha.axd" verb="*" type="Ideal.WebControls.CaptchaImageHandler" resourceType="Unspecified" preCondition="integratedMode"/>
    </handlers>
    <urlCompression doStaticCompression="false"/>
  </system.webServer>
  <system.web>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="20000" executionTimeout="120"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="ru-RU" uiCulture="ru-RU"/>
    <customErrors mode="Off"/>
    <compilation defaultLanguage="c#" targetFramework="4.0" debug="true">
      <assemblies>
        <add assembly="Ideal.Wision"/>
        <add assembly="*"/>
      </assemblies>
    </compilation>
  </system.web>
</configuration>